@charset "UTF-8";

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    
    " . a b"
    "c c d"
    "e . ."
    
    ;
}


#a{
    grid-area: a;
    border: black solid 2px;
}

#b{
    grid-area:b ;
    border: black solid 2px;
}

#c{
    grid-area:c ;
    border: black solid 2px;
}

#d{
    grid-area: d;
    border: black solid 2px;
}

#e{
    grid-area:e ;
    border: black solid 2px;
}